.banner{
  position: fixed;
  z-index: 100;
  left: 0;
  bottom: 0;
  right: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  background: $color-blue;
  color: #ffffff;
  margin-bottom: 0;
  padding: 3px 15px !important;
  .fix-banner{
    height: 56px;
  }
  p{
    padding: 0 15px;
  }
  .wr-btn{
    text-align: right;
  }
  .close{
    padding: 10px;
    z-index: 101;
  }
  .btn{
    width: 150px;
    padding: 6px 0;
  }
}

@include media-breakpoint-down(sm) {
  .banner{
    .fix-banner{
      height: 70px;
    }
    p{
      font-size: 12px;
      line-height: 14px;
      padding: 0;
    }
    .btn{
      width: 120px;
      padding: 2px 0;
      font-size: 10px;
    }
  }
  .alert-dismissible{
    padding-right: 0;
  }
}
