.btn{
  width: 200px;
  padding: 13px 0;
  border-width: 2px;
  border-style: solid;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  background: #1464f6;
  &.btn-size{
    width: auto !important;
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
  &.btn-secondary{
    background: #ffffff;
    color: $color-blue;
  }
}