.section-10{
  .h2{
    margin-bottom: 60px;
  }
  .h2-sub{
    width: 80%;
    margin: 0 auto;
  }
  .h3{
    margin-top: 40px;
  }
  ul{
    margin-top: 30px;
    li{
      position: relative;
      margin-bottom: 15px;
      &:before{
        content: '';
        position: absolute;
        width: 6px;
        height: 6px;
        background: #ffffff;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        left: 0;
        top: 9px;
      }
      p{
        padding-left: 20px;
      }
    }
  }
}