.section-12{
  padding: 100px 0;
  .btn{
    width: 290px;
    margin-top: 20px;
  }
}
.modal-title{
  font-size: 27px;
  padding-top: 12px;
  padding-bottom: 12px;
  width: 100%;
}
.modal-header{
  background: #fafafa;
  text-align: right;
}
.modal-body{
  text-align: left;
  .h3{
    padding-bottom: 20px;
  }
}